{% extends 'base.html.twig' %}

{% block title %}List product{% endblock %}

{% block body %}
    {% if  is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center div-title-admin">
            <h1 class="title-admin">{% trans %}view for users for accueil{% endtrans %}</h1>
        </div>
    {% endif %}
   <div  class="container" >
       <div class="mt-4" id="backgroud_vood">
           <h1 class="mt-4">{% trans %}MichMich Food Truck{% endtrans %}</h1>
           <h2 class="mt-4">{% trans %}Hamburger the regional specialist in true{% endtrans %}</h2>
           <h3 class="mt-4">{% trans %}Your American food truck in Savoie{% endtrans %}</h3>
           <p class="mt-4">{% trans %}The restaurant "MichMich Food Truck concept" is, since 2014, the regional specialist of Hamburger!{% endtrans %}</p>
           <p class="mt-4">{% trans %}In 2014, we gave letters of nobility to the Hamburger by demonstrating that it was a dish in its own right, We work with regional producers.{% endtrans %}</p>
           <h3 class="mt-4">{% trans %}But who is MichMich?{% endtrans %}</h3>
           <p class="mt-4">{% trans %}MichMich is passionate about cooking and attached to tradition. are motes d'orde it's simple and good!{% endtrans %}</p>
           <p class="mt-4">{% trans %}MichMich has traveled all over France to discover all the specialties of our beautiful regions.{% endtrans %}</p>
           {#           <p>{% trans %}{% endtrans %}</p>#}
       </div>
   </div>

    <div style="z-index: 4" class="container">
        <div class="mt-4" id="backgroud_vood">
            <h1 class="mt-4">{% trans %}Where to find MihMich ?{% endtrans %}</h1>
            <h3 class="mt-4">{% trans %}monday :{% endtrans %}</h3>
            <p class="mt-4">{% trans %}140 avenue Simplon à Chambery 11h30 14h00{% endtrans %}</p>
            <h3 class="mt-4">{% trans %}Tuesday :{% endtrans %}</h3>
            <p class="mt-4">{% trans %}90 rue motte servolex à la Motte Servolex 11h30 14h00 {% endtrans %}</p>
            <h3 class="mt-4">{% trans %}Wednesday :{% endtrans %}</h3>
            <p class="mt-4">{% trans %}140 avenue Simplon à Chambery 11h30 14h00{% endtrans %}</p>
            <h3 class="mt-4">{% trans %}Thursday :{% endtrans %}</h3>
            <p class="mt-4">{% trans %}90 rue motte servolex à la Motte Servolex 11h30 14h00{% endtrans %}</p>
            <h3 class="mt-4">{% trans %}Friday :{% endtrans %}</h3>
            <p class="mt-4">{% trans %}90 rue motte servolex à la Motte Servolex 11h30 14h00{% endtrans %}</p>
            {#           <p>{% trans %}{% endtrans %}</p>#}
        </div>
    </div>
{% endblock %}
