{% extends 'base.html.twig' %}

{% block title %}List product{% endblock %}

{% block body %}
    {% if  is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center div-title-admin">
            <h1 class="title-admin">{% trans %}view for users for menu{% endtrans %}</h1>
        </div>
    {% endif %}
<div class="container mt-4 mb-4 col-sm-12 col-md-10 ">
        <ul class=" nav nav-tabs  " id="myTab" role="tablist">
            <li class="mt-4 ml-2 nav-item" role="presentation">
                <a class="nav-link active font_bangers" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans %}plats{% endtrans %}</a>
            </li>
            <li class="mt-4 ml-2 nav-item" role="presentation">
                <a class="nav-link font_bangers" id="profile-tab " data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% trans %}dessert{% endtrans %}</a>
            </li>
            <li class="mt-4 ml-2 nav-item" role="presentation">
                <a class="nav-link font_bangers" id="profile-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">{% trans %}drink{% endtrans %}</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="d-flex justify-content-center mb-2 title_product">
                    <img src="/asset/img/burger.png"   class="img_burger" alt="burger">
                    <h2 >{% trans %}the plates{% endtrans %}</h2>
                    <img src="/asset/img/burger.png"   class="img_burger" alt="burger">
                </div>
                {% for plat in plats %}
                    <table class="table text-white">
                        <tbody >
                        <tr>

                            <h3>{{ plat.name }}</h3>
                        </tr>
                        <td>
                            {{ plat.description }}</br>
                            {% trans%}On Site :{% endtrans%} {{ plat.priceTtcOneSite }}€ {% trans%}Out site :{% endtrans%}{{ plat.priceTtcOutSite}}€</br>
                            <a href="{{ path('user_user_like_product', {'id': plat.id}) }}" class="btn  btn-primary js-like">
                                {% if app.user and plat.isLikedByUser(app.user) %}
                                    <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up"></i>
                                {% endif %}
                                <span class="js-likes">{{ plat.likeProducts | length }}</span>
                                <span class="js-label">{% trans %}Likes{% endtrans %}</span>
                            </a>
                        </td>
                        </tbody>
                    </table>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="d-flex justify-content-center mb-2 title_product">
                    <img src="/asset/img/Bagels.png"  class="img_dessert" alt="Bagels">
                    <h2>{% trans %}the desserts{% endtrans %}</h2>
                    <img src="/asset/img/Bagels.png"  class="img_dessert" alt="Bagels">
                </div>
                {% for dessert in desserts %}
                    <table class="table text-white">
                        <tbody>
                        <tr>
                            <h3>{{ dessert.name }}</h3>
                        </tr>
                        <td>{{ dessert.description }}</br>
                            {% trans%}On Site :{% endtrans%} {{ dessert.priceTtcOneSite}}€ {% trans%}Out site :{% endtrans%}{{ dessert.priceTtcOutSite}}€</br>

                        <a href="{{ path('user_user_like_product', {'id': dessert.id}) }}" class="js-like">
                                <button class="btn btn-primary " >
                                    {% if app.user and dessert.isLikedByUser(app.user) %}
                                        <i class="fas fa-thumbs-up js-like-button"></i>
                                    {% else %}
                                        <i class="far fa-thumbs-up"></i>
                                    {% endif %}
                                    <span class="js-likes">{{ dessert.likeProducts | length }}</span>
                                    <span class="js-label">{% trans %}Likes{% endtrans %}</span>
                                </button>

                            </a>
                        </td>
                        </tbody>
                    </table>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab">
                <div class="d-flex justify-content-center mb-2 title_product">
                    <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                    <h2>{% trans %}the drinks{% endtrans %}</h2>
                    <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                </div>
                <div class="mb-2">
                    <h4>{% trans %}the sodas{% endtrans %}</h4>
                </div>
                {% for soda in sodas %}
                    <table class="table text-white">
                        <tbody>
                        <tr>
                            <h3>{{ soda.name }}</h3>
                        </tr>
                        <td>
                            {% trans%}On Site :{% endtrans%} {{ soda.priceTtcOneSite }}€ {% trans%}Out site :{% endtrans%}{{ soda.priceTtcOutSite }}€
                            {{ soda.description }}</br>
                            <a href="{{ path('user_user_like_product', {'id': soda.id}) }}" class="btn  btn-primary js-like">
                                {% if app.user and soda.isLikedByUser(app.user) %}
                                    <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up"></i>
                                {% endif %}
                                <span class="js-likes">{{ soda.likeProducts | length }}</span>
                                <span class="js-label">{% trans %}Likes{% endtrans %}</span>
                            </a>
                        </td>
                        </tbody>
                    </table>
                {% endfor %}
                <div class="mb-2">
                    <h4>{% trans %}the waters{% endtrans %}</h4>
                </div>
                {% for water in waters %}
                    <table class="table text-white">
                        <tbody>
                        <tr> <h3>{{ water.name }}</h3></tr>
                        <td>
                            {% trans%}On Site :{% endtrans%} {{ water.priceTtcOneSite }}€ {% trans%}Out site :{% endtrans%}{{ water.priceTtcOutSite }}€</br>
                            {{ water.description }}</br>
                            <a href="{{ path('user_user_like_product', {'id': water.id}) }}" class="btn  btn-primary js-like">
                                {% if app.user and water.isLikedByUser(app.user) %}
                                    <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up"></i>
                                {% endif %}
                                <span class="js-likes">{{ water.likeProducts | length }}</span>
                                <span class="js-label">{% trans %}Likes{% endtrans %}</span>
                            </a>
                        </td>
                        </tbody>
                    </table>
                {% endfor %}
                <div class="mb-2">
                    <h4>{% trans %}the alcools{% endtrans %}</h4>
                </div>
                {% for alcool in alcools %}
                    <table class="table text-white">
                        <tbody>
                        <tr> <h3>{{ alcool.name }}</h3></tr>
                            <td>
                                {% trans%}On Site :{% endtrans%} {{ alcool.priceTtcOneSite }}€ {% trans%}Out site :{% endtrans%}{{ alcool.priceTtcOutSite }}€</br>
                                 {{ alcool.description }}</br>
                                <a href="{{ path('user_user_like_product', {'id': alcool.id}) }}" class="btn  btn-primary js-like">
                                {% if app.user and alcool.isLikedByUser(app.user) %}
                                    <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up"></i>
                                {% endif %}
                                <span class="js-likes">{{ alcool.likeProducts | length }}</span>
                                <span class="js-label">{% trans %}Likes{% endtrans %}</span>
                            </a>
                        </td>
                        </tbody>
                    </table>
                {% endfor %}
                <div class="mb-2">
                    <h4>{% trans %}the Waters{% endtrans %}</h4>
                </div>
                {% for cafe in cafes %}
                    <table class="table text-white">
                        <tbody>
                        <tr> <h3>{{ cafe.name }}</h3></tr>
                        <td>{% trans%}On Site :{% endtrans%} {{ cafe.priceTtcOneSite }}€ {% trans%}Out site :{% endtrans%}{{ cafe.priceTtcOutSite }}€</br>
                             {{ cafe.description }}</br>
                            <a href="{{ path('user_user_like_product', {'id': cafe.id}) }}" class="btn  btn-primary js-like">
                                {% if app.user and cafe.isLikedByUser(app.user) %}
                                    <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up"></i>
                                {% endif %}
                                <span class="js-likes">{{ cafe.likeProducts | length }}</span>
                                <span class="js-label">{% trans %}Likes{% endtrans %}</span>
                            </a>
                        </td>
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
