<form method="post" action="{{ path('user_user_delete', {'id': user.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn btn-danger btn-delete" id="delete_User_btn" title="Supprimer">
        <i class="fas fa-trash-alt"></i>
    </button>
</form>
