 <div class="container m-4">
    {% if app.user != user and not user.id == null %}
        <div class="my-2">
        <a href="{{ path('user_user_app_forgotten_password', {'id': user.id}) }}"><button class="btn btn-outline-dark btn-lg btn-block">{% trans %}Send Change password{% endtrans %}</button></a>
        </div>
    {% elseif user.id == null %}
    {% else%}
        <div class="my-2">
            <a href="{{ path('user_user_password', {'id': user.id}) }}"><button class="btn btn-outline-dark btn-lg btn-block">{% trans %}Change password{% endtrans %}</button></a>
        </div>
    {% endif%}
     {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    {% if app.user == null %}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.userName) }}
            </div>
         </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.password) }}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.email) }}
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_CUSTOMER') %}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.lastName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.phone) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.address) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.gender) }}
            </div>
        </div>
    </div>
    <div class="container m-4">
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.region) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.county) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.city) }}
            </div>
        </div>
    </div>
{% endif %}
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="container m-4">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.roles) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.isActive) }}
            </div>
        </div>
    </div>
{% endif %}
    <div class="container mr-4">
        <div class="row d-flex justify-content-end">
            <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
        </div>
    </div>


{{ form_end(form) }}

