{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit User{%  endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}Profil :{% endtrans %}{% if user.firstName and user.lastName%} {{ user.lastName }} {{ user.firstName }} {% else %}{{ user.email }}{% endif %}</h1>
    </div>
    <div class="container">
        <div class="mt-4 text-white" id="backgroud_vood" >
            <h1>{% trans %}Edit User{% endtrans %}</h1>
            {{ include('user/user/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="container  mr-4">
                <div class="row d-flex justify-content-end">
                    <a class="btn btn-primary" href="{{ path('user_user_index') }}">{% trans %}back to list{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
