{% extends 'base.html.twig' %}

{% block title %}{% trans %}User index{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}The Users{% endtrans %}</h1>
    </div>
    <div class="container">
        <div class="mt-4" id="backgroud_vood" >
            <h1>{% trans %}User index{% endtrans %}</h1>
            {{ knp_pagination_render(users) }}
            <table class="table mt-4">
                <thead class="thead-dark">
                <tr>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}FirstName{% endtrans %}</th>
                    <th>{% trans %}LastName{% endtrans %}</th>
                    <th>{% trans %}Gender{% endtrans %}</th>
                    <th>{% trans %}IsActive{% endtrans %}</th>
                    <th>{% trans %}CreatAt{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody class="text-white">
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.gender }}</td>
                        <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                        <td>{{ user.creatAt ? user.creatAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {{ include('user/user/_delete_form.html.twig') }}
                            {% endif %}
                            <a href="{{ path('user_user_edit', {'id': user.id}) }}"><button  class="btn btn btn-primary" id="edit_btn" title="Modifier"><i class="fas fa-edit"></i></button>
                            </a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">{% trans %}no records found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(users) }}
        </div>
    </div>

{% endblock %}
