{% extends 'base.html.twig' %}

{% block title %}{% if app.user %}{% trans %}New User{% endtrans %}{% else %}{% trans %}Create your account{% endtrans %}{% endif %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-4 text-white" id="backgroud_vood" >
            <h1>Merci de rentrer les informations :</h1>
            {{ include('user/user/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
