{% extends 'base.html.twig' %}

{% block title %}{% trans %}Password Change User{%  endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}Password Change User{% endtrans %}</h1>
    </div>
    <div class="" id="backgroud_vood">
        {{ form_start(form) }}
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.password) }}
                </div>
            </div>
        </div>

        <div class="container mr-4">
            <div class="row d-flex justify-content-end">
                <button class="btn">{{ button_label|default('Valider') }}</button>
            </div>
            {{ form_end(form)}}
            <div class="row d-flex justify-content-end">
                <a href="{{ path('user_user_index') }}">{% trans %}back{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}