{% extends 'base.html.twig' %}

{% block title %}{% trans %}forgotten password{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-4" id="backgroud_vood">
            <form method="post">
                <h1>{% trans %}forgotten password{% endtrans %}</h1>
                {{ form(emailForm) }}
            </form>
        </div>
    </div>

{% endblock %}
