{% extends 'base.html.twig' %}

{% block title %}{% trans %}Connection{% endtrans %}{% endblock %}

{% block body %}
    <div class="mt-4 container ">
        <div id="backgroud_vood">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                <div class="alert alert-success">
                    {% trans %}You are logged in as{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                </div>

                    {% endif %}

                    <div class=" mt-2 " >
                        <div class=" d-flex justify-content-center">
                            <h1 class="h3 mb-3 font_bangers text-dark">{% trans %}Login{% endtrans %}</h1>
                        </div>
                        <div class=" d-flex justify-content-center">
                            <div class=" text-white row col-6">
                                <label  for="inputEmail">{% trans %}Email{% endtrans %} :</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus />
                                <label  for="inputPassword">{% trans %}Password{% endtrans %} :</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" required />
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                            </div>
                        </div>
                        <div class=" d-flex justify-content-center">
                            <button class="btn btn-lg btn-primary mt-4" type="submit">
                                {% trans %}Login{% endtrans %}
                            </button>
                        </div>
                        <div class=" mt-2 d-flex justify-content-center">
                            <a class="btn btn-primary" href="{{ path('user_user_app_forgotten_password') }}">{% trans %}forgotten password{% endtrans %}</a>
                        </div>


                    </div>
            </form>
        </div>
    </div>

{% endblock %}
