<!-- Delete User Modal -->
<div class="modal fade" id="delete_User_Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  id="backgroud_beton">
            <div id=backgroud_vood">
                <div class="modal-header">
                    <h5 class="modal-title semi-bold">{% trans %}deletad User{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="m-0 pt-2">{% trans %}Are you sure you want to delete this client?{%  endtrans %}</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{%  trans %}Cancel{% endtrans %}</button>
                <button id="delete_User_Confirmation_Btn" type="button" class="btn btn-danger">{% trans %}deletad{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal like not connect -->
<div class="modal fade" id="Like_not_connect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="backgroud_beton">
            <div id="backgroud_vood">
                <div class="modal-header">
                    <h5 class="modal-title semi-bold font_bangers" >{% trans %}error like{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="m-0 pt-2">{% trans %}You must login to like{% endtrans %}</p>
                </div>
            </div>

            <div class="modal-footer">
                <a href="{{ path("app_login") }}" class="btn btn-primary" >{% trans %}Login{% endtrans %}</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{%  trans %}annuler{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal error 500 -->
<div class="modal fade" id="Like_error_500" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="backgroud_beton">
            <div id="backgroud_vood">
                <div class="modal-header">
                    <h5 class="modal-title semi-bold">{% trans %}error 500{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="m-0 pt-2">{% trans %}The server does not answer we are sorry{%  endtrans %}</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{%  trans %}ok{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal error -->
<div class="modal fade" id="Like_error_500" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="backgroud_beton">
            <div id="backgroud_vood">
                <div class="modal-header">
                    <h5 class="modal-title semi-bold">{% trans %}error{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="m-0 pt-2">{% trans %}an error has occurred we are sorry{%  endtrans %}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">{%  trans %}ok{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>




