{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}The invoices{% endtrans %}</h1>
    </div>
    <div class="container">
        <div class="text-withe" id="backgroud_vood">
            {{ knp_pagination_render(invoices) }}
            <table class="table text-white mt-4">
                <thead  class="thead-dark">
                <tr>
                    <th>Number</th>
                    <th>IsPaid</th>
                    <th>InvoicePdf</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices%}
                    <tr>
                        <td>{{ invoice.financialYear }}-{{ invoice.number }}</td>
                        <td>{{ invoice.isPaid ? 'Yes' : 'No' }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('command_invoice_pdf', {'id': invoice.id}) }}" target="_blank"><i class="far fa-file-pdf"></i> pdf</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(invoices) }}
        </div>

    </div>


{% endblock %}
