{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <div class="container">
        <div id="backgroud_vood">
            <h1>Invoice</h1>

            <table class="table text-white mt-4">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ invoice.id }}</td>
                </tr>
                <tr>
                    <th>Number</th>
                    <td>{{ invoice.number }}</td>
                </tr>
                <tr>
                    <th>FinancialYear</th>
                    <td>{{ invoice.financialYear }}</td>
                </tr>
                <tr>
                    <th>IsPaid</th>
                    <td>{{ invoice.isPaid ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>PaidAt</th>
                    <td>{{ invoice.paidAt ? invoice.paidAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>SendEmailAt</th>
                    <td>{{ invoice.sendEmailAt ? invoice.sendEmailAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>IsInvoiceCanceled</th>
                    <td>{{ invoice.isInvoiceCanceled ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>IsCanceledAt</th>
                    <td>{{ invoice.isCanceledAt ? invoice.isCanceledAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>InvoicePdf</th>
                    <td>{{ invoice.invoicePdf }}      {{ invoice.command.number }}</td>

                </tr>
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('command_invoice_index') }}">back to list</a>
        </div>
    </div>


{% endblock %}
