{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit TypeProduct{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}Edit TypeProduct{% endtrans %}{{ type_product.Type }}</h1>
    </div>
    <div class="container">
        <div class="mt-4 text-white" id="backgroud_vood" >

            {{ include('product/type_product/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="container mr-4">
                <div class="row d-flex justify-content-end">
                    <a href="{{ path('product_type_product_index') }}">{% trans %}back to list{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
