{% extends 'base.html.twig' %}

{% block title %}{% trans %}TypeProduct index{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}The taxes{% endtrans %}</h1>
    </div>
    <div class="container">
        <div class="mt-4" id="backgroud_vood" >
            <h1>{% trans %}TypeProduct index{%  endtrans %}</h1>

            <table class="table text-white mt-4">
                <thead class="thead-dark">
                <tr>
                    <th>{% trans %}Type{% endtrans %}</th>
                    <th>{% trans %}TaxeEatOnSite{% endtrans %}</th>
                    <th>{% trans %}TaxeEatTakeOut{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody class="">
                {% for type_product in type_products %}
                    <tr>
                        <td>{{ type_product.type }}</td>
                        <td>{{ type_product.taxeEatOnSite }}%</td>
                        <td>{{ type_product.taxeEatTakeOut }}%</td>
                        <td>

                            <a href="{{ path('product_type_product_edit', {'id': type_product.id}) }} " id="edit_btn" class="btn btn-primary" title="Modifier"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{% trans %}no records found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
