{% extends 'base.html.twig' %}

{% block title %}{% trans %}command{% endtrans %}{% endblock %}

{% block body %}
    {% if  is_granted('ROLE_ADMIN') %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}view for users for orders{% endtrans %}</h1>
    </div>
    {% endif %}
    {{ form_start(form)}}

            <div class="mt-4 mb-4 container">
                <div class="row btn_command">
                    <button class="btn btn-primary btn-lg btn-block d-flex justify-content-center ">{% trans %}commander{% endtrans %} :<span class="js-total-command"> 0€</span></button>
                </div>
                <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                    <li class="nav-item mt-4 ml-2" role="presentation">
                        <a class="nav-link active font_bangers" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans %}plats{% endtrans %}</a>
                    </li>
                    <li class="nav-item mt-4 ml-2" role="presentation">
                        <a class="nav-link font_bangers" id="profile-tab " data-toggle="tab" href="#profile-dessert" role="tab" aria-controls="profile" aria-selected="false">{% trans %}dessert{% endtrans %}</a>
                    </li>
                    <li class="nav-item mt-4 ml-2" role="presentation">
                        <a class="nav-link font_bangers" id="profile-tab" data-toggle="tab" href="#profile-soda" role="tab" aria-controls="profile" aria-selected="false">{% trans %}soda{% endtrans %}</a>
                    </li>
                    <li class="nav-item mt-4 ml-2" role="presentation">
                        <a class="nav-link font_bangers" id="profile-tab" data-toggle="tab" href="#profile-alcool" role="tab" aria-controls="profile" aria-selected="false">{% trans %}alcool{% endtrans %}</a>
                    </li>
                    <li class="nav-item mt-4 ml-2" role="presentation">
                        <a class="nav-link font_bangers" id="profile-tab" data-toggle="tab" href="#profile-watter" role="tab" aria-controls="profile" aria-selected="false">{% trans %}watter{% endtrans %}</a>
                    </li>
                    <li class="nav-item mt-4 ml-2" role="presentation">
                        <a class="nav-link font_bangers" id="profile-tab" data-toggle="tab" href="#profile-cafes" role="tab" aria-controls="profile" aria-selected="false">{% trans %}cafes{% endtrans %}</a>
                    </li>
                </ul>

                <div class="tab-content text-light " id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="mt-4 d-flex justify-content-center mb-2 title_product">
                            <img src="/asset/img/burger.png"   class="img_burger" alt="burger">
                            <h2 >{% trans %}the plates{% endtrans %}</h2>
                            <img src="/asset/img/burger.png"   class="img_burger" alt="burger">
                        </div>

                        <div>
                            <div class="col-12">
                                {% for form in form.plats.children  %}
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h2>{{ form.vars.attr.name }}</h2>
                                            <p>{% trans %}Price :{% endtrans %} {{ form.vars.attr.price }}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="font_bangers">{% trans %}Quantity :{% endtrans %}</p>
                                            {{ form_widget(form) }}
                                        </div>
                                    </div>
                                    <p>{{ form.vars.attr.description }}</p>
                                    <hr style="background-color: white">
                                {% endfor %}
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="profile-dessert" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="mt-4 d-flex justify-content-center mb-2 title_product">
                            <img src="/asset/img/Bagels.png"  class="img_dessert" alt="Bagels">
                            <h2>{% trans %}the desserts{% endtrans %}</h2>
                            <img src="/asset/img/Bagels.png"  class="img_dessert" alt="Bagels">
                        </div>
                        <div>
                            {% for form in form.desserts.children  %}
                                <div class="row">
                                    <div class="col-md-10">
                                        <h2>{{ form.vars.attr.name }}</h2>
                                        <p>{% trans %}Price :{% endtrans %} {{ form.vars.attr.price }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="font_bangers">{% trans %}Quantity :{% endtrans %}</p>
                                        {{ form_widget(form) }}
                                    </div>
                                </div>
                                <p>{{ form.vars.attr.description }}</p>
                                <hr style="background-color: white">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-soda" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="mt-4 d-flex justify-content-center mb-2 title_product">
                            <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                            <h2>{% trans %}the sodas{% endtrans %}</h2>
                            <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                        </div>
                        <div>
                            {% for form in form.sodas.children  %}
                                <div class="row">
                                    <div class="col-md-10">
                                        <h2>{{ form.vars.attr.name }}</h2>
                                        <p>{% trans %}Price :{% endtrans %} {{ form.vars.attr.price }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="font_bangers">{% trans %}Quantity :{% endtrans %}</p>
                                        {{ form_widget(form) }}
                                    </div>
                                </div>
                                <p>{{ form.vars.attr.description }}</p>
                                <hr style="background-color: white">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-alcool" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="mt-4 d-flex justify-content-center mb-2 title_product">
                            <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                            <h2>{% trans %}the alcool{% endtrans %}</h2>
                            <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                        </div>
                        <div >
                            {% for form in form.alcools.children  %}
                                <div class="row">
                                    <div class="col-md-10">
                                        <h2>{{ form.vars.attr.name }}</h2>
                                        <p>{% trans %}Price :{% endtrans %} {{ form.vars.attr.price }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="font_bangers">{% trans %}Quantity :{% endtrans %}</p>
                                        {{ form_widget(form) }}
                                    </div>
                                </div>
                                <p>{{ form.vars.attr.description }}</p>
                                <hr style="background-color: white">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-watter" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="mt-4 d-flex justify-content-center mb-2 title_product">
                            <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                            <h2>{% trans %}the watter{% endtrans %}</h2>
                            <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                        </div>
                        <div>
                            {% for form in form.eaux.children  %}
                                <div class="row">
                                    <div class="col-md-10">
                                        <h2>{{ form.vars.attr.name }}</h2>
                                        <p>{% trans %}Price :{% endtrans %} {{ form.vars.attr.price }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="font_bangers">{% trans %}Quantity :{% endtrans %}</p>
                                        {{ form_widget(form) }}
                                    </div>
                                </div>
                                <p>{{ form.vars.attr.description }}</p>
                                <hr style="background-color: white">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-cafes" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="mt-4 d-flex justify-content-center mb-2 title_product">
                            <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                            <h2>{% trans %}the cafes{% endtrans %}</h2>
                            <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                        </div>
                        <div >
                            {% for form in form.cafes.children  %}
                                <div class="row">
                                    <div class="col-md-10">
                                        <h2>{{ form.vars.attr.name }}</h2>
                                        <p>{% trans %}Price :{% endtrans %} {{ form.vars.attr.price }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="font_bangers">{% trans %}Quantity :{% endtrans %}</p>
                                        {{ form_widget(form) }}
                                    </div>
                                </div>
                                <p>{{ form.vars.attr.description }}</p>
                                <hr style="background-color: white">
                            {% endfor %}
                        </div>
                    </div>
            </div>

    </div>
    {{  form_end(form) }}
{% endblock %}
