{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit User{%  endtrans %}{% endblock %}

{% block body %}
    {% if  is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center div-title-admin">
            <h1 class="title-admin">{% trans %}edit your profile{% endtrans %}</h1>
        </div>
    {% endif %}
    <div class="container">
        <div class="mt-4 text-white" id="backgroud_vood" >
            {{ include('user/user/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="container  mr-4">
                <div class="row d-flex justify-content-end">
                    <a class="btn btn-primary" href="{{ path('customer_acounte') }}">{% trans %}back to list{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}