{% extends 'base.html.twig' %}

{% block title %}{% trans %}your command{%  endtrans %}{% endblock %}

{% block body %}

    {% if  is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center div-title-admin">
            <h1 class="title-admin">{% trans %}Your commands{% endtrans %}</h1>
        </div>
    {% endif %}
    <div class="mb-4 container">
            <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                <li class="nav-item mt-4 ml-2" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans %}Command wait deliverd{% endtrans %}</a>
                </li>
                <li class="nav-item mt-4 ml-2" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% trans %}Command deliverd1{% endtrans %}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h1 class="mt-4">{% trans %}Command wait deliverd{% endtrans %}</h1>

                    <table class="table text-light">
                        <thead>
                        <tr>
                            <th>{% trans %}Number{% endtrans %}</th>
                            <th>{% trans %}Product{% endtrans %}</th>
                            <th>{% trans %}actions{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for command in commands %}
                            {% if command.isDelivred == false %}
                            <tr>
                                <td>{{ command.financialYear }}-{{ command.number }}</td>
                                <td>
                                    {% for item in command.orderItems %}
                                        {% if item.product != null %}
                                            {{ item.product.name }}x {{ item.quantity}}</br>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for invoice in command.invoices %}
                                        <a class="btn btn-primary" href="{{ path('command_invoice_pdf', {'id': invoice.id}) }}" target="_blank"><i class="far fa-file-pdf"></i> pdf</a>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <h1 class="mt-4">{% trans %}Command deliverd1{% endtrans %}</h1>

                    <table class="table text-white">
                        <thead>
                        <tr>
                            <th>{% trans %}Number{% endtrans %}</th>
                            <th>{% trans %}Product{% endtrans %}</th>
                            <th>{% trans %}actions{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for command in commands %}
                            {% if command.isPaid == true and command.isDelivred == true%}
                            <tr>
                                <td>{{ command.financialYear }}-{{ command.number }}</td>
                                <td>
                                    {% for item in command.orderItems %}
                                        {% if item.product != null %}
                                            {{ item.product.name }}x {{ item.quantity}}</br>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for invoice in command.invoices %}
                                    <a class="btn btn-primary" href="{{ path('command_invoice_pdf', {'id': invoice.id}) }}" target="_blank"><i class="far fa-file-pdf"></i> pdf</a>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
{% endblock %}
