{% extends 'base.html.twig' %}

{% block title %}{% trans %}User profil{% endtrans %}{% endblock %}

{% block body %}
    {% if  is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center div-title-admin">
            <h1 class="title-admin">{% trans %}your profile{% endtrans %}</h1>
        </div>
    {% endif %}
    <div class="mt-4 container">
        <div id="backgroud_vood">
            <h1 class="ml-4">{% if user.firstName and user.lastName %}{{ user.firstName }} {{ user.lastName }}{% else %}{{ user.email }}{% endif %}</h1>
            <div class="row">
                <h4>{% trans %}email :{% endtrans %}</h4>
                <p class="ml-2">{{ user.email }}</p>
            </div>
            <div class="row">
                <h4>{% trans %}First name :{% endtrans %}</h4>
                <p class="ml-2">{% if user.firstName %}{{ user.firstName }}{% else %}{% trans %}What's your first name ?{% endtrans %}{% endif %}</p>
            </div>
            <div class="row">
                <h4>{% trans %}First last :{% endtrans %}</h4>
                <p class="ml-2">{% if user.lastName %}{{ user.lastName }}{% else %}{% trans %}What's your last name ?{% endtrans %}{% endif %}</p>
            </div>
            <div class="row">
                <h4>{% trans %}Phone :{% endtrans %}</h4>
                <p class="ml-2">{% if user.phone %}{{ user.phone }}{% else %}{% trans %}What's your phone ?{% endtrans %}{% endif %}</p>
            </div>
            <div class="row">
                <h4>{% trans %}address :{% endtrans %}</h4>
                <p class="ml-2">{% if user.address %}{{ user.address }}{% else %}{% trans %}What's your address ?{% endtrans %}{% endif %}</p>
            </div>
            <div class="row">
                <h4>{% trans %}city :{% endtrans %}</h4>
                <p class="ml-2">{% if user.city %}{{ user.city }}{% else %}{% trans %}What's your city ?{% endtrans %}{% endif %}</p>
            </div>
            <a href="{{ path('edit_customer_acounte') }}" class="btn btn-primary">{% trans %}edit acount{% endtrans %}</a>
        </div>
    </div>
{% endblock body %}