{% extends 'base.html.twig' %}

{% block title %}{% trans %}command{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-4" id="backgroud_vood">
            <h1>{% trans %}your command :{% endtrans %}</h1>
            <p>{% trans %}ref : {% endtrans %} {{ command.financialYear }}-{{ command.number }}</p>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{% trans %}product{% endtrans %}</th>
                    <th scope="col">{% trans %}quantity{% endtrans %}</th>
                    <th scope="col">{% trans %}priceht{% endtrans %}</th>
                    <th scope="col">{% trans %}total tcc{% endtrans %}</th>
                </tr>
                </thead>
                <tbody class="text-white">
                {% for orderItem in command.orderItems %}
                <tr>
                    <th>{{ orderItem.nameProduct }}</th>
                    <td>{{ orderItem.quantity  }}</td>
                    <td>{{ orderItem.priceHt|number_format(2, '.', ',')  }} €</td>
                    <td>{{ (orderItem.priceTtcOutSite * orderItem.quantity)|number_format(2, '.', ',')  }} €</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="mt-2 table d-flex justify-content-end ">
                <tbody class="  mr-2 text-white">
                    <tr>
                        <th scope="col">{% trans %}total ht{% endtrans %}</th>
                        <td>{{ totalPriceHt|number_format(2, '.', ',')  }} € </td>
                    </tr>
                    <tr>
                        <th scope="col">{% trans %}total taxe{% endtrans %}</th>
                        <td>{{ totaltaxe|number_format(2, '.', ',')  }} € </td>
                    </tr>
                    <tr>
                        <th scope="col">{% trans %}total tcc{% endtrans %}</th>
                        <td>{{ totalPriceTtc|number_format(2, '.', ',')  }} € </td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-4 mr-5 table d-flex justify-content-end">
                <a href="{{ path('customer_admin_paid', {'id': command.id }) }}" class="btn btn-primary">{% trans %}commander and paid{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock body %}