{% extends 'base.html.twig' %}

{% block title %}{% trans %}Command dash bord{% endtrans %}{% endblock %}

{% block body %}
<div class="d-flex justify-content-center div-title-admin">
    <h1 class="title-admin">{% trans %}Your Dash Bord{% endtrans %}</h1>
</div>
<div class="mb-4 container " >

    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
        <li class="nav-item mt-4 ml-2" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans %}Command wait deliverd{% endtrans %}</a>
        </li>
        <li class="nav-item mt-4 ml-2" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% trans %}Command not paid{% endtrans %}</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <a href="{{ path('command_command_new') }}"><button class=" mt-4 btn btn-primary btn-lg btn-block">{% trans %}Create new commannd{% endtrans %}</button></a>

            <h1 class="mt-4">{% trans %}Command wait deliverd{% endtrans %}</h1>
            {{ knp_pagination_render(commandsNotDelivred) }}
            <table class="table text-light">
                <thead>
                <tr>
                    <th>{% trans %}Number{% endtrans %}</th>
                    <th>{% trans %}IsEatTakeAway{% endtrans%}</th>
                    <th>{% trans %}Product{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for command in commandsNotDelivred %}
                    <tr>
                        <td>{{ command.financialYear }}-{{ command.number }}</td>
                        <td>{{ command.isEatTakeAway ? 'Yes' : 'No' }}</td>
                        <td>
                            {% for item in command.orderItems %}
                                {% if item.product != null %}
                                    {{ item.product.name }}x {{ item.quantity}}</br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('admin_delivered', {'id': command.id}) }}"><i class="fas fa-check"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(commandsNotDelivred) }}
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <a href="{{ path('command_command_new') }}"><button class=" mt-4 btn btn-primary btn-lg btn-block">{% trans %}Create new commannd{% endtrans %}</button></a>


            <h1 class="mt-4">{% trans %}Command not paid{% endtrans %}</h1>
                {{ knp_pagination_render(commandsNotPaid) }}
                <table class="table text-white">
                    <thead>
                    <tr>
                        <th>{% trans %}Number{% endtrans %}</th>
                        <th>{% trans %}IsEatTakeAway{% endtrans%}</th>
                        <th>{% trans %}Product{% endtrans %}</th>
                        <th>{% trans %}actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for command in commandsNotPaid %}
                        <tr>
                            <td>{{ command.financialYear }}-{{ command.number }}</td>
                            <td>{{ command.isEatTakeAway ? 'Yes' : 'No' }}</td>
                            <td>
                                {% for item in command.orderItems %}
                                    {% if item.product != null %}
                                        {{ item.product.name }}x {{ item.quantity}}</br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('admin_paid', {'id': command.id}) }}"><i class="fas fa-euro-sign"></i></a>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="12">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(commandsNotPaid) }}
        </div>
    </div>
</div>



{% endblock %}

