
nav {
    margin-top: 0%;
}

body {

    background-image: url("/asset/img/beton.jpg");


}

.fadeIn{
    -webkit-animation: 0.5s linear 0s fade_in;
    animation: 0.5s linear 0s fade_in;
}

@-webkit-keyframes fade_in { from { opacity: 0; } to { opacity: 1; }  }
@keyframes fade_in{ from { opacity: 0; } to { opacity: 1; }  }
h1{
    font-family: 'Bangers', cursive;
    color: #F2A127!important;
    text-shadow:0px 5px 0 black;
}

h2{
    font-family: 'Bangers', cursive;
    color: #F2A127!important;
    text-shadow:0px 5px 0 black;
}

h3{
    font-family: 'Bangers', cursive;
    color: #F2A127!important;
    text-shadow:0px 5px 0 black;
}

h4{
    font-family: 'Bangers', cursive;
    color: #F2A127!important;
    text-shadow:0px 5px 0 black;

}

footer{
    margin: 0;
}

label{
    font-family: 'Bangers', cursive;
    color: #F2A127!important;


}
.font_bangers{
    font-family: 'Bangers', cursive;
    color: #F2A127!important;


}

.form-control{
    box-shadow: 5px 5px 0 rgba(29, 29, 29, 0.4);
}



p{
    font-family: 'Roboto', sans-serif;
    color: white;
}

#backgroud_vood{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 4%;
    padding: 5%;
    background-color: #343A40;
    box-shadow: 10px 5px 5px black;

}

#backgroud_beton{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 4%;
    padding: 5%;
    background-image: url("/asset/img/beton.jpg");
    box-shadow: 10px 5px 5px black;

}

.backgroud_grey{
    padding: 2%;
    background-color: #343A40;
    box-shadow: 10px 5px 5px rgba(40, 43, 47, 0.65);
}

#login{
    margin-top: 4%;
    padding:4%;
    background-image: url("/asset/img/marble.jpg");
}

.btn-delete{
    width: 4em;
}

#edit_btn{
    margin-top: 2%;
    width: 4em;
}

#cont_base{
    margin: auto;
}

.toto{
    display: flex;
    justify-content: center;
}

#slide_Bar{
    height: 100%;
    background: rgb(75,75,75);
    background: radial-gradient(circle, rgba(75,75,75,1) 0%, rgba(25,25,25,1) 100%);
    margin-top: 0;


}

#navbar{
    background-color: #393939!important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 40;
    opacity: 0.8;
}
.btn_command{
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    z-index: 11;
}

@media (max-width:930px)
{
    .btn_command{
        position: -webkit-sticky;
        position: sticky;
        top: 19%;
        z-index: 11;
    }
}


#sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    z-index: 10;
}

#slide_Bar_col{
    padding: 0;
}

#a_slide_bar{
    font-size: 1.8em;
    margin-top: 4%;
    margin-left: 4%;
    color: black;
}

#a_slide_bar:hover{
    font-size: 2em;
    margin-top: 4%;
    margin-left: 10%;
    color: red;
}

#a_slide_bar_drop_dwon{
    font-size: 1.4em;
    margin-top: 4%;
    margin-left: 6%;
    color: black;
}

#a_slide_bar_drop_dwon:hover{
    font-size: 1.8em;
    margin-top: 4%;
    margin-left: 10%;
    color: red;
}

#add_flach{
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    z-index: 10;
}

.img_burger{
    width: 3em;
    margin-left: 1em;
    margin-right: 1em;

}
.img_dessert{
    width: 3em;
    margin-left: 1em;
    margin-right: 1em;

}
.img_drink{
    height: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

/*footer*/
.site-footer
{
    background: rgb(75,75,75);
    background: radial-gradient(circle, rgba(75,75,75,1) 0%, rgba(25,25,25,1) 100%);
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.instagram:hover
{
    background-color: #ff6f2c;
}

@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    font-family: 'Bangers', cursive;
    color: #F2A127!important;
    box-shadow: 5px 5px 5px rgba(40, 43, 47, 0.65);
    text-shadow: 0px 2px 0  rgba(40, 43, 47, 0.65) !important;
    background-color: #343a40!important;
    border-color: #343A40!important;


}

.tab-content>.active{
    font-family: 'Bangers', cursive;
    padding: 2%;
    background-color: #343A40;
    box-shadow: 10px 5px 5px rgba(40, 43, 47, 0.65);
    border-color: #F2A127!important;

}

.nav-tabs .nav-link{

    font-family: 'Bangers', cursive;
    background-color:#C8A219!important;
    color: black!important;
    box-shadow: 10px 5px 5px rgba(40, 43, 47, 0.65);
    text-shadow: 0px 2px 0 #eed706 !important;
     border-color: snow!important;

}

.navbar-nav .dropdown-menu{
    background-color: #393939!important;
}

.navbar-nav .dropdown-item .active{
    font-family: 'Bangers', cursive;
    color: #343a40;
    background-color: #F2A127!important;

}

.btn-primary{
    background-color: #F2A127!important;
    font-family: 'Bangers', cursive;
    color: black!important;
    border: black;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{

    font-family: 'Bangers', cursive;
    color: #fc5800 !important;
    font-style: italic;


}

.div-title{
    /*position: absolute;*/

    width: 100%;
    text-align: center;
    background-color: #393939!important;
    opacity: 0.8;

}

.div-title-admin{
    width: 100%;
    text-align: center;

}

.title-admin{
    margin: 2%;
    font-size: 500%;
}

.title_page{
    -webkit-animation: 2s linear 0s fade_in;
    animation: 2s linear 0s fade_in;
}

.slide_active{
    font-family: 'Bangers', cursive;
    color: #fc5800 !important;
    font-style: italic;
    }
@media (max-width:1000px)
{
    .ml2{
        margin: 2%!important;
        font-size: 200% !important;
    }
}

@media (max-width:420px)
{
    .ml2{
        margin: 2%!important;
        font-size: 150% !important;
    }
}

.ml2 {
    margin: 2%;
    font-size: 500%;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}




