<form method="post" action="{{ path('product_menu_delete', {'id': menu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu.id) }}">
    <button class="btn btn-outline-danger btn-delete"type="Supprimer">
        <i class="fas fa-trash-alt"></i>
    </button>
</form>
