{% extends 'base.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block body %}
<div class="mt-4" id="backgroud_vood" >
    <h1>Edit Menu</h1>

    {{ include('product/menu/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="container mr-4">
        <div class="row d-flex justify-content-end">
            <a href="{{ path('product_menu_index') }}">back to list</a>
        </div>
    </div>

</div>
{% endblock %}
