{% extends 'base.html.twig' %}

{% block title %}{% trans %}Menu index{% endtrans %}{% endblock %}

{% block body %}
<div class=" mt-4" id="backgroud_vood" >
    <h1>{% trans %}Menu index{% endtrans %}</h1>

    <a href="{{ path('product_menu_new') }}"><button class="btn btn-outline-dark btn-lg btn-block">{% trans %}Create new Menu{% endtrans %}</button></a>
    {{ knp_pagination_render(menus) }}
    <table class="table mt-4">
        <thead class="thead-dark">
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}DiscountMenu{% endtrans %}</th>
            <th>{% trans %}IsActive{% endtrans %}</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.name }}</td>
                <td>{{ menu.description }}</td>
                <td>{{ menu.discountMenu }}%</td>
                <td>{{ menu.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    {{ include('product/menu/_delete_form.html.twig') }}
                    <a href="{{ path('product_menu_edit', {'id': menu.id}) }}" id="edit_btn" class="btn btn-outline-dark" title="Modifier"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(menus) }}
</div>

{% endblock %}
