{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Menu{% endtrans %}{% endblock %}

{% block body %}
<div class="container mt-4" id="backgroud_vood" >
    <h1>{% trans %}Create new Menu{% endtrans %}</h1>

    {{ include('product/menu/_form.html.twig') }}
    <div class="container mr-4">
        <div class="row d-flex justify-content-end">
            <a href="{{ path('product_menu_index') }}">{% trans %}back to list{% endtrans %}</a>
        </div>
    </div>
</div>
{% endblock %}
