{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}Edit Product{% endtrans %}</h1>
    </div>
    <div class="container">
        <div class="mt-4 text-white" id="backgroud_vood" >

            {{ include('product/product/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="container mr-4">
                <div class="row d-flex justify-content-end">
                    <a class="mt-2 btn btn-primary" href="{{ path('product_product_index') }}">back to list</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
