{% extends 'base.html.twig' %}

{% block title %}{% trans %}Product index{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}The Products{% endtrans %}</h1>
    </div>
<div class=" container" >
    <div class="mt-4 container" id="backgroud_vood" >
        <h1>{% trans %}Product index{% endtrans %}</h1>
        <a href="{{ path('product_product_new') }}"><button class="mb-2 btn btn-primary btn-lg btn-block">{% trans %}Create new Product{% endtrans %}</button></a>
        {{ knp_pagination_render(products) }}
        <table class="table mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Description{% endtrans %}</th>
                    <th>{% trans %}PriceHt{% endtrans %}</th>
                    <th>{% trans %}IsActive{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody class="text-white">
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.priceHt }}€</td>
                    <td>{{ product.isActive ? 'Yes' : 'No' }}</td>
                    <td>
                        {{ include('product/product/_delete_form.html.twig') }}
                        <a href="{{ path('product_product_edit', {'id': product.id}) }}" id="edit_btn" class="btn btn-primary" title="Modifier"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{% trans %}no records found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(products) }}
</div>
</div>

{% endblock %}
