{% extends 'base.html.twig' %}

{% block title %}{% trans %}Tag index{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}The tags{% endtrans %}</h1>
    </div>
    <div class="container">
        <div class="mt-4" id="backgroud_vood" >
            <h1>{% trans %}Tag index{% endtrans %}</h1>
            <a href="{{ path('product_tag_new') }}"><button class="mb-2 btn btn-primary btn-lg btn-block">{% trans %}Create new Tag{% endtrans %}</button></a>
            {{ knp_pagination_render(tags) }}
            <table class="table text-white mt-4">
                <thead class="thead-dark">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>{{ tag.name }}</td>
                        <td>
                            {{ include('product/tag/_delete_form.html.twig') }}
                            <a href="{{ path('product_tag_edit', {'id': tag.id}) }} " id="edit_btn" class="btn btn-primary" title="Modifier"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{% trans %}no records found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(tags) }}
        </div>
    </div>

{% endblock %}
