{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Tag{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}Create new Tag{% endtrans %}</h1>
    </div>
    <div class="container">
        <div class="mt-4 text-white" id="backgroud_vood" >

            {{ include('product/tag/_form.html.twig') }}
            <div class="container mr-4">
                <div class="row d-flex justify-content-end">
                    <a class="mt-2 btn btn-primary"  href="{{ path('product_tag_index') }}">{% trans %}back to list{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
