
<div>
    <h1>{% trans %}Change your password{% endtrans %}</h1>
</div>
<div>
    <p>Hi {{ user.firstName }}! You want to change your password</p>
    <p>{% trans %}Click on the link below{% endtrans %}</p>
    <a href="{{ url }}"></a>
</div>