<footer>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p class="legaltext">{% trans %}Pour votre santé, mangez au moins cinq fruits et légumes par jour{% endtrans%} <a href="http://www.mangerbouger.fr">www.mangerbouger.fr</a></p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li>
                            <a href="{{ path('home_page') }}">{% trans%}Home{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('list_product') }}">{% trans %}the menu product{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('custormer_command_create') }}">{% trans %}the Command{% endtrans %}</a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>{% trans %}Quick Links{% endtrans %}</h6>
                    <ul class="footer-links">
                        <li><a href="#">{% trans %}Contact Us{% endtrans %}</a></li>
                        <li><a href="{{ path('terms_of_sales') }}">{% trans %}Terms of Sales{% endtrans %}</a></li>
                        <li><a href="{{ path('legal_notice') }}">{% trans %}Legal Notice{% endtrans %}</a></li>

                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by MicMich
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</footer>

