<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-4" >
            <img src="/asset/img/logo_food_truck.png"style="max-width: 10em">
        </div>
        <div class="col-8 text-white ">
            <h1>Bonjour {{ app.user.firstName }} {{ app.user.lastName }}!</h1>
        </div>
    </div>
    
</div>