<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="{{ path('home_page') }}">
        <img src="/asset/img/logo_food_truck.png"style="max-width: 2em;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if current_nav is defined and current_nav == 'Home' %} active{%  endif %}">
                <a class="nav-link font_bangers" href="{{ path('home_page') }}">{% trans%}Home{% endtrans %}</a>
            </li>
            <li class="nav-item{% if current_nav is defined and current_nav == 'the product' %} active{%  endif %}" >
                <a class="nav-link font_bangers" href="{{ path('list_product') }}">{% trans %}the menu product{% endtrans %}</a>
            </li>
            <li class="nav-item{% if current_nav is defined and current_nav == 'the Command' %} active{%  endif %}" >
                <a class="nav-link font_bangers" href="{{ path('custormer_command_create') }}">{% trans %}the Command{% endtrans %}</a>
            </li>
            {%if app.user %}
            <li class="nav-item dropdown {% if current_nav is defined and current_nav == 'My account' %} active{%  endif %}">
                <a class="nav-link dropdown-toggle font_bangers" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}My account{% endtrans %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item font_bangers" href="{{ path('customer_acounte') }}">{% trans %}My profil{% endtrans %}</a>
                    <a class="dropdown-item font_bangers" href="{{ path('customer_liste_command') }}">{% trans %}My command{% endtrans %}</a>
                </div>
            </li>
            {% endif %}
        </ul>

        {%if app.user %}
            <i style="font-style: normal;" class="font_bangers">
            {% trans %}Hello{% endtrans %}
            {% if app.user.firstName and app.user.lastName %}
                {{ app.user.lastName }} {{ app.user.firstName }}
            {% else %}
                {{ app.user.email }}
            {% endif %}
            </i>
            <a href="{{ path("app_logout") }}" class=" mx-2 my-2 my-sm-0 font_bangers" >{% trans %}Logout{% endtrans %}</a>
        {% else %}
            <a href="{{ path('user_user_new') }}" class="font_bangers">{% trans %}Create profil{% endtrans %}</a>
            <a href="{{ path("app_login") }}" class="mx-2 my-2 my-sm-0 font_bangers" >{% trans %}Login{% endtrans %}</a>
        {% endif %}

    </div>
</nav>
