<div class="wrapper" id="slide_Bar">
    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <a class="{% if current_slide is defined and current_slide == 'dash bord' %} slide_active{% else %}font_bangers{% endif %}" id="a_slide_bar" href="{{ path('admin') }}">
                {% trans %}dash bord{% endtrans %}</a>
            <li class="active">
                <a id="a_slide_bar" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle  {% if current_slide is defined and current_slide == 'Product' %} slide_active{% else %}font_bangers{% endif %}">
                    {% trans %}Product{% endtrans %}</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a class="{% if current_slide is defined and current_slide_menu == 'Prouducts' %} slide_active{% else %}font_bangers{% endif %}" id="a_slide_bar_drop_dwon" href="{{ path('product_product_index') }}">{% trans %}Prouducts{% endtrans %}</a>
                    </li>
                    <li>
                        <a class="{% if current_slide is defined and current_slide_menu == 'Taxe' %} slide_active{% else %}font_bangers  {% endif %}" id="a_slide_bar_drop_dwon" href="{{ path('product_type_product_index') }}">{% trans %}Taxe{% endtrans %}</a>
                    </li>
                    <li>
                        <a class="{% if current_slide is defined and current_slide_menu == 'Tags' %} slide_active{% else %}font_bangers{% endif %}" id="a_slide_bar" href="{{ path('product_tag_index') }}">{% trans %}Tags{% endtrans %}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="{% if current_slide is defined and current_slide == 'Invoice' %} slide_active{% else %}font_bangers{% endif %}" id="a_slide_bar" href="{{ path('command_invoice_index') }}">{% trans %}Invoice{% endtrans %}</a>
            </li>
            <li>
                <a class=" {% if current_slide is defined and current_slide == 'Command' %} slide_active{% else %}font_bangers{% endif %}" id="a_slide_bar" href="{{ path('command_command_index') }}">{% trans %}Command{% endtrans %}</a>
            </li>
            <li>
                <a class="{% if current_slide is defined and current_slide == 'Customer' %}slide_active{% else %}font_bangers{% endif %}" id="a_slide_bar" href="{{ path('user_user_index') }}">{% trans %}Customer{% endtrans %}</a>
            </li>
        </ul>
    </nav>
</div>