<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1">
        <link rel="shortcut icon" href="https://img.icons8.com/pastel-glyph/64/000000/beefburger.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script defer src="/your-path-to-fontawesome/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %}
    </head>


    <div class="fadeIn">
        <body>
        {% include "_navBar.html.twig" %}
        {% if not is_granted('ROLE_ADMIN') %}
            <div class="d-flex justify-content-end">
                <img style="position: absolute;margin-top: 5%; max-width: 25%; z-index: 1" src="/asset/img/logo-burger.png" width="100%" class="" alt="Photographie Hamburguer">
            </div>
            <div>
                {% if title_page is defined %}
                    <div style="position: absolute; margin-top: 25%; z-index: 2" class="d-flex justify-content-center div-title">
                        <h1 class="ml2">{{ title_page }}</h1>
                    </div>
                {% endif %}
                <div>
                    <img style="display: inline-block;"src="/asset/img/h3_3.jpg" width="100%" class="" alt="Photographie Hamburguer">
                </div>

            </div>
        {% endif %}

        <div class="container-fluid " id="cont_base">
            <div class="row">
                {% if  is_granted('ROLE_ADMIN') %}
                <div class="col-sm-2" id="slide_Bar_col">
                    {% include "_slideBar.html.twig" %}
                </div>
                <div class="col-sm-10" style="padding-left: 0; padding-right: 0">
                    {%  else %}
                    <div class="col-sm-12" style="padding-left: 0; padding-right: 0">
                        {% endif %}
                        {% for message in app.flashes("success") %}
                            <div class="alert alert-success mt-4" id="add_flach"role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% block body %}{% endblock %}
                        {% include "_footer.html.twig" %}
                    </div>
                </div>
            </div>
    </div>


        {% include "modal/modal.html.twig" %}
        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
