
{% extends 'base.html.twig' %}

{% block title %}{% trans %}Tag index{% endtrans %}{% endblock %}

{% block body %}
{{ form_start(form) }}
        <div class="col-12 " id="backgroud_vood">
            <div class="container mr-4">
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-outline-dark btn-lg btn-block">{% trans %}commander{% endtrans %}</button>
                    <span class="nav-link js-total-command">0€</span>
                </div>
            </div>
            <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active font_bangers" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans %}plats{% endtrans %}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font_bangers" id="profile-tab " data-toggle="tab" href="#profile-dessert" role="tab" aria-controls="profile" aria-selected="false">{% trans %}dessert{% endtrans %}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font_bangers" id="profile-tab" data-toggle="tab" href="#profile-soda" role="tab" aria-controls="profile" aria-selected="false">{% trans %}soda{% endtrans %}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font_bangers" id="profile-tab" data-toggle="tab" href="#profile-alcool" role="tab" aria-controls="profile" aria-selected="false">{% trans %}alcool{% endtrans %}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font_bangers" id="profile-tab" data-toggle="tab" href="#profile-watter" role="tab" aria-controls="profile" aria-selected="false">{% trans %}watter{% endtrans %}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font_bangers" id="profile-tab" data-toggle="tab" href="#profile-cafes" role="tab" aria-controls="profile" aria-selected="false">{% trans %}cafes{% endtrans %}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <img src="/asset/img/etoiles.png" width="100%" class="banner_etoiles" alt="etoiles">
                    <div class="d-flex justify-content-center mb-2 title_product">
                        <img src="/asset/img/burger.png"   class="img_burger" alt="burger">
                        <h2 >{% trans %}the plates{% endtrans %}</h2>
                        <img src="/asset/img/burger.png"   class="img_burger" alt="burger">
                    </div>
                    <div>
                        {{ form_widget(form.plats) }}
                    </div>
                    <img src="/asset/img/etoilesReverce.png" width="100%" class="banner_etoiles" alt="etoiles">
                </div>
                <div class="tab-pane fade" id="profile-dessert" role="tabpanel" aria-labelledby="profile-tab">
                    <img src="/asset/img/etoiles.png" width="100%" class="banner_etoiles" alt="etoiles">
                    <div class="d-flex justify-content-center mb-2 title_product">
                        <img src="/asset/img/Bagels.png"  class="img_dessert" alt="Bagels">
                        <h2>{% trans %}the desserts{% endtrans %}</h2>
                        <img src="/asset/img/Bagels.png"  class="img_dessert" alt="Bagels">
                    </div>
                    <div>
                        {{ form_widget(form.desserts) }}
                    </div>
                    <img src="/asset/img/etoilesReverce.png" width="100%" class="banner_etoiles" alt="etoiles">
                </div>
                <div class="tab-pane fade" id="profile-soda" role="tabpanel" aria-labelledby="profile-tab">
                    <img src="/asset/img/etoiles.png" width="100%" class="banner_etoiles" alt="etoiles">
                    <div class="d-flex justify-content-center mb-2 title_product">
                        <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                        <h2>{% trans %}the sodas{% endtrans %}</h2>
                        <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                    </div>
                    <div>
                        {{ form_widget(form.sodas) }}
                    </div>

                    <img src="/asset/img/etoilesReverce.png" width="100%" class="banner_etoiles" alt="etoiles">
                </div>
                <div class="tab-pane fade" id="profile-alcool" role="tabpanel" aria-labelledby="profile-tab">
                    <img src="/asset/img/etoiles.png" width="100%" class="banner_etoiles" alt="etoiles">
                    <div class="d-flex justify-content-center mb-2 title_product">
                        <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                        <h2>{% trans %}the alcool{% endtrans %}</h2>
                        <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                    </div>
                    <div >
                      {{ form_widget(form.alcools) }}
                    </div>

                    <img src="/asset/img/etoilesReverce.png" width="100%" class="banner_etoiles" alt="etoiles">
                </div>
                <div class="tab-pane fade" id="profile-watter" role="tabpanel" aria-labelledby="profile-tab">
                    <img src="/asset/img/etoiles.png" width="100%" class="banner_etoiles" alt="etoiles">
                    <div class="d-flex justify-content-center mb-2 title_product">
                        <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                        <h2>{% trans %}the watter{% endtrans %}</h2>
                        <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                    </div>
                    <div>
                        {{ form_widget(form.waters) }}
                    </div>

                    <img src="/asset/img/etoilesReverce.png" width="100%" class="banner_etoiles" alt="etoiles">
                </div>
                <div class="tab-pane fade" id="profile-cafes" role="tabpanel" aria-labelledby="profile-tab">
                    <img src="/asset/img/etoiles.png" width="100%" class="banner_etoiles" alt="etoiles">
                    <div class="d-flex justify-content-center mb-2 title_product">
                        <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                        <h2>{% trans %}the cafes{% endtrans %}</h2>
                        <img src="/asset/img/boisson.png"  class="img_drink" alt="boisson">
                    </div>
                    <div >
                        {{ form_widget(form.cafes) }}
                    </div>

                    <img src="/asset/img/etoilesReverce.png" width="100%" class="banner_etoiles" alt="etoiles">
                </div>
            </div>
{{ form_end(form) }}
{% endblock body %}