
{{ form_start(form) }}
    <div class="row">
        <div class="cl-12">
            {{ form_row(form.isEatTakeAway) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="product" data-prototype="{{ form_row(form.orderItems.vars.prototype)|e('html_attr') }}"></ul>
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

    {{ form_end(form)  }}





