{% extends 'base.html.twig' %}

{% block title %}Edit Command{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}Edit commands{% endtrans %}</h1>
    </div>
    <div class="container">
        <div class="text-white" id="backgroud_vood">
            <h1>Edit Command</h1>

            {{ include('command/command/_form.html.twig', {'button_label': 'Update'}) }}

            <a class="btn btn-primary" href="{{ path('command_command_index') }}">back to list</a>
        </div>
    </div>



{% endblock %}
