{% extends 'base.html.twig' %}

{% block title %}Command index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}The commands{% endtrans %}</h1>
    </div>
    <div class="container">
        <div id="backgroud_vood">
            <h1>Command index</h1>
            <a class="mb-2 btn btn-primary btn-lg btn-block" href="{{ path('command_command_new') }}">Create new</a>
            <table class="table text-white mt-4">
                {{ knp_pagination_render(commands) }}
                <thead class="thead-dark">
                <tr>
                    <th>Number</th>
                    <th>FinancialYear</th>
                    <th>IsEatTakeAway</th>
                    <th>IsDelivred</th>
                    <th>Product</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for command in commands %}
                    <tr>
                        <td>{{ command.number }}</td>
                        <td>{{ command.financialYear }}</td>
                        <td>{{ command.isEatTakeAway ? 'Yes' : 'No' }}</td>
                        <td>{{ command.isDelivred ? 'Yes' : 'No' }}</td>
                        <td>
                            {% for item in command.orderItems %}
                                {% if item.product != null %}
                                    {{ item.product.name }}x {{ item.quantity}}</br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a class="mt-1 btn btn-primary" href="{{ path('command_command_show', {'id': command.id}) }}"><i class="far fa-eye"></i></a>
                            <a class="btn btn-primary" id="edit_btn"href="{{ path('command_command_edit', {'id': command.id}) }}"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(commands) }}
        </div>
    </div>
{% endblock %}
