{% extends 'base.html.twig' %}

{% block title %}Command{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center div-title-admin">
        <h1 class="title-admin">{% trans %}Commands :{% endtrans %} {{ command.financialYear }}-{{ command.number }}</h1>
    </div>
    <div class="container">
        <div id="backgroud_vood">

            <h1>Command</h1>

            <table class="table text-white">
                <tbody>
                <tr>
                    <th>Number command</th>
                    <td>{{ command.financialYear }}-{{ command.number }}</td>
                </tr>
                <tr>
                    <th>product</th>
                    <td>
                        {% for item in command.orderItems %}
                            {% if item.product != null %}
                                {{ item.product.name }} price {{ item.priceHt }}€ x {{ item.quantity}} = {{ item.priceHt * item.quantity }}€ ht</br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>CreatAt</th>
                    <td>{{ command.creatAt ? command.creatAt|date('d-m-Y, H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>IsEatTakeAway</th>
                    <td>{{ command.isEatTakeAway ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>IsDelivred</th>
                    <td>{{ command.isDelivred ? 'Yes' : 'No' }}</td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="{{ path('command_command_index') }}">back to list</a>
            <a class="btn btn-primary" href="{{ path('command_command_edit', {'id': command.id}) }}"><i class="fas fa-edit"></i>edit</a>
        </div>
    </div>


{% endblock %}
