<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 1</title>
{#    <link rel="stylesheet" href="style.css" media="all" />#}

     <style>
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        a {
            color: #5D6975;
            text-decoration: underline;
        }

        body {
            position: relative;
            width: 21cm;
            height: 29.7cm;
            margin: 0 auto;
            color: #001028;
            background: #FFFFFF;
            font-family: Arial, sans-serif;
            font-size: 12px;
            font-family: Arial;
        }

        header {
            padding: 10px 0;
            margin-bottom: 30px;
        }

        #logo {
            margin-bottom: 10px;
            background-color: #393939;
        }

        #logo img {
            width: 90px;
        }

        h1 {
            border-top: 1px solid  #5D6975;
            border-bottom: 1px solid  #5D6975;
            color: #5D6975;
            font-size: 2.4em;
            line-height: 1.4em;
            font-weight: normal;
            text-align: center;
            margin: 0 0 20px 0;
            background-image: url("/asset/img/Fond_Bois_50.png");
        }

        #project {
            float: left;
        }

        #project span {
            color: #5D6975;
            text-align: right;
            width: 52px;
            margin-right: 10px;
            display: inline-block;
            font-size: 0.8em;
        }

        #company {
margin-right: 10%;
            text-align: right;
        }

        #project div,
        #company div {
            white-space: nowrap;
        }

        table {
            width: 95%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px;
        }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th,
        table td {
            text-align: center;
        }

        table th {
            padding: 5px 20px;
            color: #5D6975;
            border-bottom: 1px solid #C1CED9;
            white-space: nowrap;
            font-weight: normal;
        }

        table .desc {
            text-align: left;
        }

        table td {
            padding: 20px;
            text-align: right;
        }

        table td.desc {
            vertical-align: top;
        }

        table td.unit,
        table td.qty,
        /*table td.tva,*/
        table td.total {
            font-size: 1.2em;
        }

        table td.grand {
            border-top: 1px solid #5D6975;;
        }

        #notices .notice {
            color: #5D6975;
            font-size: 1.2em;
        }

        footer {
            color: #5D6975;
            width: 100%;
            height: 30px;
            position: absolute;
            bottom: 0;
            border-top: 1px solid #C1CED9;
            padding: 8px 0;
            text-align: center;
        }
    </style>
</head>
<body>
<header class="clearfix">
    <div id="logo">
        <img src="asset/img/logo_food_truck.png">
    </div>
    <h1>Facture {{ invoice.financialYear }}-{{ invoice.number }}</h1>
    <div id="company" class="clearfix">
        <div>MichMich Food Truck</div>
        <div>455 rue de Simplon,<br /> 73000 Chambery</div>
        <div>+33.00.01.02.03.04</div>
        <div><a href="mailto:michmich@example.com">michmich@example.com</a></div>
    </div>
    <div id="project">
        <div><span>CLIENT</span> {{ invoice.command.user.firstName }} {{ invoice.command.user.lastName }}</div>
        <div><span>ADDRESS</span> {{ invoice.command.user.address }}</div>
        <div><span>EMAIL</span> <a href="mailto:john@example.com">{{ invoice.command.user.phone }}</a></div>
        <div><span>DATE</span> {{ invoice.financialYear }}</div>
    </div>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th class="desc">DESCRIPTION</th>
            <th>PRICE</th>
            <th>QTY</th>
            <th>TVA</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
        {% for orderitem in invoice.command.orderItems%}
        <tr>
            <td class="desc">{{ orderitem.nameProduct }}</td>
            <td class="unit">{{ orderitem.priceHt|number_format(2, ',')}}</td>
            <td class="qty">{{ orderitem.quantity }}</td>
            <td class="tva">{{  orderitem.taxe|number_format(2, ',') }}</td>
            <td class="total">{{ (orderitem.quantity * (orderitem.priceHt + ((orderitem.priceHt/100) * orderitem.taxe)))|number_format(2, ',') }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4" class="grand total">Total ht</td>
            <td class="grand total">{{ invoiceTotalPriceHt|number_format(2, ',') }}</td>
        </tr>
        <tr>
            <td colspan="4">Total tva</td>
            <td class="total">{{ invoiceTotalTva|number_format(2, ',') }}</td>
        </tr>
        <tr>
            <td colspan="4">Total ttc</td>
            <td class="total">{{ invoiceTotalPriceTtc|number_format(2, ',')}}</td>
        </tr>
        </tbody>
    </table>

</main>
<footer>
    La facture a été créée sur un ordinateur et est valide sans la signature et le sceau.
</footer>
</body>
</html>