{% extends 'base.html.twig' %}

{% block title %}{% trans %}MENTIONS LÉGALES{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-4 col-md-12 column" id="backgroud_vood">
            <div class="content_left">
                <h2><strong>MichMich food truck</strong></h2>
                <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, nous informons les utilisateurs et visiteurs du site Internet&nbsp;.</p>
                <p>&nbsp;</p>
                <p><u>Editeur</u> :</p>
                <p>MichMich food truck</p>
                <p>SAS au capital social&nbsp;de&nbsp; 13 013&nbsp;360€</p>
                <p>RCS Nanterre numéro B 421 415 803</p>
                <p>TVA intracommunautaire FR 55&nbsp;421&nbsp;415&nbsp;803,&nbsp;</p>
                <p>4, rue  de Gouges, CS 50071,&nbsp;92238&nbsp;Gennevilliers Cedex</p>
                <p>Téléphone&nbsp;: 01.40.866.000</p>
                <p><a href="mailto:contact@micmich.fr">contact@micmich.fr</a></p>
                <p>&nbsp;</p>
                <p><u>Hébergeur</u>&nbsp;:</p>
                <p>Microsoft Azur, Pays-Bas / Australie</p>
                <p>Amazon, Allemagne</p>
                <p>&nbsp;</p>
                <p><u>Directeur de la Publication</u>&nbsp;:</p>
                <p>Michael Chanivllard, Président de MichMich food truck.</p>
            </div>
        </div>
    </div>
{% endblock %}
