{% extends 'base.html.twig' %}

{% block title %}{% trans %}CONDITIONS GÉNÉRALES DE VENTE{% endtrans %}{% endblock %}

{% block body %}
    <div class="container ">
        <div class="mt-4 col-md-12 column " id="backgroud_vood">
            <div class="content_left">
                <p>&nbsp;</p>
                <p>MichMich food truck / SAS au capital de 13 013&nbsp;360€ - RCS Nanterre B 421 415 803 - Siège : 4, rue  de Gouges, CS 50071,&nbsp;92238&nbsp;Gennevilliers, France. Domino’s Pizza France est une société de services exploitant un réseau de restauration rapide et vente d’aliments à emporter, composé de magasins franchisés et de succursales. Le franchisé ou la succursale dont dépend chaque commande est appelé « le Magasin » pour la suite des présentes.</p>
                <p class="cgv">La relation entre le Client et le Magasin peut s’effectuer par l’intermédiaire des coordonnées électroniques, téléphoniques et postales indiquées sur le bon de commande et sur le courrier électronique de confirmation de commande.</p>
                <p class="cgv">&nbsp;</p>
                <h4>1. APPLICATION DES CONDITIONS GENERALES - OPPOSABILITE</h4>
                <p class="cgv">Les présentes conditions générales de vente s’appliquent aux commandes réalisées sur le site hébergé à l’adresse http://www.dominos.fr/ (ci-après le Site). Le Client déclare être majeur et avoir la pleine capacité juridique lui permettant de s’engager au titre des présentes. Le client reconnaît avoir pris connaissance, au moment de la passation de commande, des présentes conditions générales de vente. Toute passation de commande vaut acceptation des présentes conditions générales sans aucune réserve. Les présentes conditions générales de vente régissent les relations contractuelles entre le Magasin Domino’s Pizza choisi et le Client, les deux parties les acceptant sans réserve.<br><br>Ces conditions générales de vente prévaudront sur toutes autres conditions figurant dans tout autre document, sauf dérogation préalable, expresse et écrite. Les conditions générales applicables sont celles en vigueur à la date de la commande par l’acheteur et peuvent être modifiées à tout moment et sans préavis. La validation de la commande vaut signature et acceptation expresse de toutes les opérations effectuées sur le site. Quand vous cochez la case confirmant que vous avez pris connaissance des conditions de vente et que vous cliquez sur le bouton de validation «Valider votre commande » après le processus de commande, vous déclarez accepter l’intégralité des présentes Conditions Générales de Vente pleinement et sans réserve. Les données enregistrées par le Site constituent la preuve de l’ensemble des transactions passées par le Magasin Domino’s Pizza concernée et ses clients.</p>
                <p class="cgv">&nbsp;</p>
                <h4>2. TERRITOIRE</h4>
                <p class="cgv">Les offres d’achat présentes sur le Site sont réservées uniquement au territoire français et aux consommateurs des seules zones disposant de magasins Domino’s Pizza dans un rayon d’environ 2 km.</p>
                <p class="cgv">&nbsp;</p>
                <h4>3. COMMANDES</h4>
                <p class="cgv">Les informations communiquées par le client lors de la prise de commande l’engagent et toute erreur dans le libellé de la commande ou dans les coordonnées du destinataire relève de sa responsabilité exclusive. Préalablement à toute validation de sa commande, le Client aura les moyens techniques d’identifier les erreurs commises dans la saisie des données et de les corriger, en revenant sur les différentes étapes du processus de commande et pourra de la même manière modifier le contenu de celle-ci en ajoutant ou en retirant des produits de son panier, depuis la page web récapitulant le contenu du panier avant validation de la commande. Il suffira le cas échéant au Client d’indiquer quel(s) article(s) il souhaite supprimer de son panier avant de valider sa commande.&nbsp;<br>Une fois cette vérification effectuée, le Client est invité à valider sa commande et accepter les présentes conditions générales de vente. Les commandes sont effectives dès cette validation effectuée. Toute commande ainsi passée est définitive et ne peut être annulée, et la personne est tenue de payer sa commande lors de la livraison ou lors du retrait en magasin.&nbsp;<br>En cas de non retrait d’une commande valablement passée et non payée, le Magasin signalera l’incident à Domino’s Pizza France. Le client pourra alors se voir refuser la possibilité, lors de ses prochaines visites sur le site, de différer le paiement de la commande au moment de son retrait en magasin ou en livraison. Le client sera immédiatement informé de la restriction dont fait l’objet son compte par courrier électronique et il lui sera laissé la possibilité de se justifier du non retrait de la commande litigieuse. Au bout de 2 commandes valablement payées sur le Site, le client retrouvera la possibilité de payer lors du retrait en magasin.&nbsp;<br>Le Client recevra automatiquement par e-mail, une confirmation écrite de la commande comportant l’ensemble des informations relatives aux caractéristiques du produit qui lui auront été transmises au stade de la commande, ainsi que le prix total de la commande toutes taxes comprises, et le montant de la TVA.</p>
                <p class="cgv">&nbsp;</p>
                <h4>4. VENTE D’ALCOOL</h4>
                <p class="cgv">La vente d’alcool n’est possible que si elle accompagne la commande d’une plats.<br>Il conviendra toutefois de respecter le minimum requis pour chaque commande, comme indiqué à l’article 15 des présentes.<br>La vente d’alcool est strictement interdite à toute personne âgée de moins de 18 ans.&nbsp;<br>En acceptant les présentes conditions générales de vente, l’acheteur reconnait expressément être majeur.&nbsp;<br>Le livreur a la possibilité de vérifier que la personne ayant effectuée la commande est celle qui la réceptionne et qu’elle est bien âgée de plus de 18 ans.&nbsp;<br>Dans le cas où l’acheteur serait mineur, aucune livraison de boissons alcoolisées ne pourra être effectuée, même si celles-ci auraient préalablement été payées.&nbsp;</p>
                <p class="cgv">&nbsp;</p>
                <h4>5. ARCHIVAGE</h4>
                <p class="cgv">Un enregistrement automatique des messages électroniques de confirmation de commande adressés au client sera effectué au sein des systèmes informatiques composant la plate-forme de commerce électronique, gérée et administrée par la société Domino’s Pizza France sur laquelle repose la mise en œuvre du processus de transaction électronique. Le Client est invité à conserver lui-même une copie de ladite confirmation sur tout support durable approprié et/ou à en effectuer une impression.</p>
                <p class="cgv">&nbsp;</p>
                <h4>6. DROIT DE RETRACTATION</h4>
                <p>Selon les dispositions de l'article L. 221-28 alinéa 4 du Code de la Consommation, le droit de rétractation applicable en matière de vente à distance ne peut être exercé dans le cas de la fourniture de biens qui du fait de leur nature sont susceptibles de se détériorer ou de se périmer rapidement.</p>
                <p class="cgv">En application de ce texte, le client ne dispose pas du délai de 14 jours pour exercer son droit de rétraction, toute commande sur le Site étant ferme et définitive.</p>
                <p class="cgv">&nbsp;</p>
                <h4>7. RECLAMATIONS</h4>
                <p class="cgv">MichMich food truck est une franchise dont le réseau est constitué de commerçants indépendants. Aussi une fois le contenu de son panier validé et sa commande confirmée, la confirmation de commande délivrée au Client portera indication des coordonnées du vendeur des produits considérés ayant en charge de réaliser et délivrer la commande.&nbsp;</p>
                <p class="cgv">Toute réclamation concernant les produits objets de la commande devra être effectuée de préférence via le formulaire ci-après (<u><a href="https://www.dominos.fr/nous-contacter/service-clients" data-ogsc="">https://www.dominos.fr/nous-contacter/service-clients</a></u>). Vous pouvez également adresser une réclamation écrite au magasin concerné. Si dans un délai de 21 jours à compter de l’envoi de votre réclamation, vous n’avez pas reçu de réponse ou bien si celle-ci ne vous satisfait pas, vous pourrez alors saisir la Commission de Médiation Franchise-Consommateurs (MFC) dont les coordonnées sont les suivantes&nbsp;: Médiation Franchise-Consommateurs, 29, boulevard de Courcelles 75008 PARIS – <u><a href="http://www.mediation-franchise.com/saisir-la-mediation" data-ogsc="">http://www.mediation-franchise.com/saisir-la-mediation</a></u>&nbsp;</p>
                <p class="cgv">&nbsp;</p>
                <h4>8. OFFRES</h4>
                <p class="cgv">Toute offre de vente s’entend sous réserve des stocks disponibles. La disponibilité des produits est effectuée en temps réel avant la validation de la commande. Néanmoins, en cas d’indisponibilité d’un produit (notamment un ingrédient), le Client sera directement contacté par téléphone par le magasin afin de trouver une solution de remplacement ou de procéder à l’annulation de la commande.&nbsp;<br>Les produits proposés sont conformes à la législation française et communautaire en vigueur.</p>
                <p class="cgv">&nbsp;</p>
                <h4>9. RESPONSABILITE</h4>
                <p class="cgv">MichMich food truck dégage toute responsabilité quant à l’usage ou au contenu des produits commandés sur le Site.&nbsp;<br>Les photographies et les textes reproduits sur le Site le sont à titre purement indicatif et ne sauraient avoir une valeur contractuelle. La responsabilité de Domino’s Pizza France ou des magasins franchisés ne saurait être engagée si une erreur s’est glissée dans l’une de ces photographies ou l’un de ces textes. Domino’s Pizza France ou des magasins franchisés ne sauraient être tenus pour responsables de l’inexécution du contrat conclu en cas de carence du magasin ou de force majeure. Si la responsabilité de Domino’s Pizza France ou des magasins franchisés découlant directement ou indirectement du présent contrat, venait à être engagée, le montant des dommages et intérêts qu’ils pourraient être condamnés à verser serait expressément limité au montant du prix payé par le Client pour les produits se trouvant à l’origine du préjudice. Le Client est tenu, en tout état de cause, de faire toutes les diligences nécessaires afin de diminuer le préjudice subi.</p>
                <p class="cgv">&nbsp;</p>
                <p>La structure générale du Site, ainsi que l'ensemble des éléments figurant sur le Site, constituent des œuvres qui sont protégées en tant que telles par les lois sur la propriété intellectuelle, en particulier par le droit d’auteur, les dessins et modèles et le droit des marques, et par les traités internationaux.</p>
                <p>Il est formellement interdit de collecter, utiliser, copier, distribuer, afficher, reproduire ou transmettre, totalement ou partiellement, sous quelque forme et par quelque moyen que ce soit, les éléments figurant sur le Site, notamment à des fins commerciales.</p>
                <p>Cette interdiction s'étend notamment, sans que cette liste ne soit limitative, aux textes, scripts, présentation des écrans, logiciels, marques et logos, images, photos, graphiques, concepts, sons, musique, vidéos ou fonctionnalités interactives.</p>
                <p>Toute personne qui télécharge ou recueille des informations diffusées sur le Site ne dispose sur celles-ci que d’un droit d’usage privé, personnel et non transmissible et s’engage à ne pas les modifier.&nbsp;</p>
                <p class="cgv">Toute autre utilisation non expressément autorisée par écrit par DOMINO’S PIZZA FRANCE est strictement interdite.</p>
                <p class="cgv">&nbsp;</p>
                <h4>10. VIE PRIVEE</h4>
                <p class="cgv">Les données personnelles collectées sur le Site sont soumises à la politique de protection des données personnelles de Domino’s Pizza France que nous vous invitons à consulter&nbsp;<a href="https://www.dominos.fr/dominos-pizza/donnees-personnelles">ici</a>.</p>
                <p class="cgv">&nbsp;</p>
                <h4>11. MOYENS DE PAIEMENT ACCEPTES</h4>
                <p class="cgv">Lors du retrait de la commande ou de sa livraison, les moyens de paiement acceptés sont les suivants :<br><span>- en magasin :</span><br>Carte Bancaire (sauf carte Maestro et Visa Electron) à partir de 12€<br>Titres restaurant.<br>Espèces.<br><span>- au livreur :</span><br>Carte Bancaire (sauf carte Maestro et Visa Electron) à partir de 15€<br>Titres restaurant.<br>Espèces.</p>
                <p class="cgv">Minimum de commande sur la commande en ligne en livraison : 15€TTC<br>Seuls les paiements en euros sont acceptés.<br>Par mesure de sécurité, nos livreurs ne sont pas rémunérés à la course, ni pénalisés en cas de retard et sont en possession de moins de 15€.</p>
                <p class="cgv">Il n'est pas possible de commander uniquement des boissons ou des glaces Ben &amp; Jerry's en livraison sur la commande en ligne.</p>
                <p class="cgv">&nbsp;</p>
                <h4>16. LOI APPLICABLE</h4>
                <p class="cgv">Les présentes conditions générales de prestation de services sont soumises à la loi française et l’ensemble de ses clauses doit être interprété selon le droit français.</p>
            </div>
        </div>
    </div>
{% endblock %}

